#footer
{
	width: 100%;
	background-color: #2e2e2e;
	color: white;
	text-align: center;
	font-family:times new roman;
	font-size:16px;
	position:absolute;
	bottom: 0;
	left:0;
}

#footer p
{
	margin-bottom:0px;
	margin-top:auto;
	padding-top:20px;
	padding-bottom:20px;
}